form {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

.full-width {
  width: 100%;
}

::ng-deep mat-form-field > div > div.mat-form-field-flex {
  background: #ecebeb;
}
